*{
  box-sizing: border-box;
}

.logo{
  width: 40%;
  float: left;
  margin-top: 8%;
  height: 100vh;
}

.logo-img{
  width: 100% !important;
  height: auto !important;
}

.mail-body{
  position: relative;
  display: flex;
}

.sidebar{
  width: 10%;
  /* position: relative; */
}

.mailContent{
  width: 90%;
}

@media only screen and (max-width:768px) {
  .logo{
    display: none;
  }

  .sidebar{
    width: 20%;
  }

  .mailContent{
    width: 80%;
  }
}

@media only screen and (max-width:600px) {
  .logo{
    display: none;
  }
}

