
.tableBody{
    width: 100%;
    margin: auto;
    padding: 20px;
}

.row{
    width: 100%;
}

.fromCol{
    text-align: left;
    padding-left: 10px;
    width: 30%;
    border-bottom: 1px solid #ccc;
}

.subCol{
    text-align: left;
    padding-left: 10px;
    width: 60%;
    border-bottom: 1px solid #ccc;
}

.timeCol{
    text-align: left;
    padding-left: 10px;
    width: 10%;
    border-bottom: 1px solid #ccc;
}

.star{
    width: 30px;
    height: 30px;
}

.listItem{
    list-style-type:none;
}