.navbar{
    background-color: #e0dfff;
    border: 1px solid #e0dfff;
    width: 100%;
    height: 100vh;
}

.navbar ul{
    list-style: none;
    text-decoration: none;
    /* margin-left:  -10px; */
}

